<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curiosidades do Filme</title>
    
    <style>
        body {
            background-color: #002d72;
            color: #fff;
            font-family: 'Press Start 2P', cursive;
        }
        h1 {
            color: #ffcc00;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            padding: 5px 0;
        }
    </style>
</head>
<body>
    <h1>Curiosidades do Filme</h1>
    <ul>
        <li>É bastante aparente que o elenco de Scott Pilgrim é extremamente estrelado e talentoso, porque conta com nomes como Michael Cera, Chris Evans, Brie Larson, Anna Kendrick, entre muitos outros. Porém, um ator passou bastante despercebido. O nome dele: Bill Hader.

            Bill Hader é um ator que trabalha em várias comédias, como Superbad: É Hoje e Saturday Night Live. Ele também atua muito bem em Barry, série da HBO. Hader também participou de It: Capítulo Dois, como a versão adulta de Richie Tozier.
            
            Enfim, em Scott Pilgrim contra o Mundo, o ator ficou creditado como The Voice ("A Voz", na tradução livre). Ele é o narrador do começo do filme e também é ele quem fala os comentários de videogame, como o "K.O!".</li>
        <li>As letras "X"


            Algo bastante comum de se ver nos filmes de Edgar Wright são os famosos foreshadowing,  artíficio usado em histórias como forma de dar um prenúncio daquilo que está por vir.
            
            Além disso, cada ex-namorado da Ramona é representado pela letra "X" e também é citado antes de chegar a aparecer. Como por exemplo, Matthew Patel manda o e-mail, Lucas Lee aparece na televisão, Todd é visto em pôsteres do The Clash at Demonhead e por aí vai.</li>
        <li>Quando Ramona fala para Scott do passado dela com Todd, o espectador vê uma animação (igual aos quadrinhos, inclusive), no qual ela revela que o ex fez um buraco na lua como forma de demostrar amor.

            Se você prestar bastante atenção na lua nas cenas noturnas, é possível ver, literalmente, um buraco no nosso satélite natural.</li>
        <li>Locação em Toronto


            Assim como a HQ, o filme de Scott Pilgrim se passa em Toronto, Canadá. Boa parte da produção foi filmada na cidade. Em uma determinada cena, Scott e Ramona vão para Casa Loma, um dos grandes pontos turísticos de lá.
            
            Inclusive, na trama do filme, Lucas Lee estava filmando um filme na própria cidade. Em uma das falas, ele comenta sobre o fato de vários longas serem filmados lá, com foi o caso de Scott Pilgrim contra o Mundo.</li>
        <li>Uma das melhores cenas do filme é de quando o protagonista enfrenta Lucas Lee, que manda os dublês dele enfrentarem Scott Pilgrim.

            No entanto, você sabia que os dublês do personagem são dublês de Chris Evans, intérprete de Lee, na vida real? O personagem até comenta que deixa os dublês o substituírem em outras cenas além das de ação.</li>
        <li>Além de Scott Pilgrim contra o Mundo ser uma grande homenagem aos quadrinhos e games, existem as referências e tributos aos animes, principalmente nas cenas de luta.

            Um fato interessante sobre os bastidores do filme é que Edgar Wright pediu para Brie Larson, intérprete de Envy Adams, fazer as cenas sem piscar, para a personagem ficar mais parecida com a de um anime.</li>
        <li>Plumtree


            Toda genialidade do filme se deu graças ao trabalho incrível de Bryan Lee O'Malley na HQ original. Quando escreveu os livros, ele tirou inspiração de todos os lugares. O nome do personagem principal veio da música "Scott Pilgrim", da banda Plumtree, formada só por mulheres.
            
            A canção é do álbum Predicts the Future e Edgar Wright decidiu homenagear o grupo ao fazer Scott Pilgrim vestir uma camiseta delas, quando ele vai para a primeira batalha de bandas do Sex Bob-Omb.
            
            </li>
    </ul>
</body>
</html>
